.viewpost-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.576);
  backdrop-filter: blur(1px);
  .container {
    height: 100%;
    width: 100%;
    z-index: 1;

    .row {
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .main-box {
        border-radius: 5px;
        overflow: hidden;
        width: 90%;
        height: 90%;
        background-color: white;
        &.setdark {
          background-color: black;
          color: white;
        }

        .box.post {
          width: 50%;
          z-index: 10;
          overflow: hidden;
          height: 100%;
          .content {
            height: 100%;
            .image-box {
              width: 100%;
              height: 100%;
              overflow: hidden;
              background-color: black;
              img {
                object-fit: contain;
                object-position: center;
              }
            }
          }
        }
        .box.detail {
          width: 50%;
          .content {
            padding: 10px;
          }
          .user {
            padding: 10px 5px 10px 5px;
            .image-box {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              overflow: hidden;
            }
            .details {
              align-items: center;
              width: max-content;
              ul {
                li {
                  align-items: center;
                  h4 {
                    padding: 0px 5px;
                  }

                  i {
                    border-radius: 5px;
                    font-size: 19px;
                    background-color: #50b5ff;
                  }

                  span {
                    padding: 0px 5px;
                    display: block;
                    color: #b8bec5;
                  }
                }
              }
            }

            p {
              padding: 5px 0px;
            }
          }
          .comments {
            height: 60vh;
            
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
            scroll-behavior: smooth;
            border-top: 1px solid #b8bec5;
            border-bottom: 1px solid #b8bec5;
            .content {
              display: flex;
              // gap:30px;
              margin-bottom: 10px;
              justify-content: start;
              width: 100%;
              align-items: start;
              .image-box{
                width: 40px;
                height: 40px;
                img{
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                }
              }
              .details{
                width: 80%;
                display: flex;
                flex-wrap: nowrap;
                margin-left: 10px;
                align-items: center;
                gap:10px;
                ul{
                  width: 100%;
                  li{
                    display: flex;
                    
                  }
                }
                span{
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &.isLiked {
                    i {
                      color: red;
                      &:hover {
                        color: red;
                      }
                    }
                  }
                  i {
                    font-size: 14px;
                    text-align: center;
                    display: inline-block;
                    padding: 0px;
                    margin: 0px 10px 0px 0px;
                    &:hover {
                      color: gray;
                    }
                  }
                }
              }
              
            }
          }
          .reaction {
            ul {
              padding: 15px 0px;
              li {
                padding: 10px;
                align-items: center;
                width: max-content;
                justify-content: flex-end;
                padding: 0px 5px;
                &.isLiked {
                  i {
                    color: red;

                    &:hover {
                      color: red;
                    }
                  }
                }
                i {
                  font-size: 25px;
                  text-align: center;
                  display: inline-block;
                  padding: 0px;
                  margin: 0px 10px 0px 0px;
                  &:hover {
                    color: gray;
                  }
                }
                font-size: 16px;
              }
            }
            .likes-count {
              span {
                font-size: 15px;
              }
            }
            .caption {
              font-size: 14px;
              padding-bottom: 5px;
              p {
                font-size: 14px;
                color: darkgray;
                font-weight: 600;
              }
            }
            .add-comment {
              width: 100%;
              border-top: 1px solid #b8bec5;
              border-bottom: 1px solid #b8bec5;
              display: flex;
              border-radius: 5px;

              .comment-box {
                width: 100%;
                padding: 5px 0px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
                font-size: 15px;
                background-color: transparent;

                border: none;
                outline: none;
                &.setdark {
                  color: white;
                }
              }
              button {
                color: blue;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 30px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
