.header-section {
  width: 100%;
  height: 10dvh;
  background-color: white;
}
.header-section.setdark {
  background-color: black;
  color: white;
}
.header-section .container .row {
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 50px;
}
.header-section .container .row .logo {
  width: -moz-max-content;
  width: max-content;
  height: 30px;
}
.header-section .container .row .logo a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header-section .container .row .logo a h1 {
  width: -moz-max-content;
  width: max-content;
  font-size: 40px;
  padding-left: 15px;
  color: blue;
}
.header-section .container .row .logo a .image-box {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: 15%;
}
.header-section .container .row .user {
  width: -moz-max-content;
  width: max-content;
}
.header-section .container .row .user .content {
  padding: 15px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-section .container .row .user .content .minview {
  display: none;
}
.header-section .container .row .user .content .dark-mode {
  padding: 0px 40px;
  align-items: center;
}
.header-section .container .row .user .content .dark-mode .theme-changer {
  color: black;
  font-size: 30px;
  font-weight: 800;
}
.header-section .container .row .user .content .dark-mode .theme-changer.dark {
  color: white;
}
.header-section .container .row .user .content .dark-mode p {
  padding-right: 10px;
}
.header-section .container .row .user .content .dark-mode .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.header-section .container .row .user .content .dark-mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header-section .container .row .user .content .dark-mode .switch input:checked + .slider {
  background-color: #2196f3;
}
.header-section .container .row .user .content .dark-mode .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.header-section .container .row .user .content .dark-mode .switch input:checked + .slider::before {
  transform: translateX(26px);
}
.header-section .container .row .user .content .dark-mode .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.header-section .container .row .user .content .dark-mode .switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
.header-section .container .row .user .content .image-box {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 475px) {
  .header-section {
    height: 60px !important;
    padding: 5px 0px;
    box-shadow: 0px 1px 10px black;
  }
  .header-section .container {
    height: 100%;
  }
  .header-section .container .row {
    padding: 0px 15px;
    height: 100%;
  }
  .header-section .container .row .logo a .image-box {
    height: 50px;
    width: 50px;
  }
  .header-section .container .row .logo a h1 {
    display: none;
  }
  .header-section .container .row .user {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }
  .header-section .container .row .user .content {
    padding: 0px;
  }
  .header-section .container .row .user .content .minview {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 3px;
    margin: 0px 5px;
  }
  .header-section .container .row .user .content .image-box {
    width: 45px;
    height: 45px;
    display: none;
  }
  .header-section .container .row .user .content .dark-mode {
    padding: 0px;
    display: block;
    font-size: 25px;
    padding: 3px;
    margin: 0px 5px;
  }
  .header-section .container .row .user .content .dark-mode .theme-changer {
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
  }
}/*# sourceMappingURL=header.css.map */